.LoginLabels, .Register {
    text-align: center;
}


p {
    font-size: 20px;
    text-shadow: 1px 1px black;
}

.title {
    text-align: center;
    text-shadow: 1px 1px black
}

.loginForm {
    width: 20%;
    margin: auto;
    text-align: center;
}

.usernameLabel, .usernameText {
    display: block;
    color: white;
    font-size: larger;
    text-shadow: 1px 1px black;
}

.passwordLabel, .passwordText {
    display: block;
    color: white;
    font-size: larger;
    text-shadow: 1px 1px black;
}

.firstNameLabel, .firstNameText {
    display: block;
    color: white;
    font-size: larger;
    text-shadow: 1px 1px black;
}

.lastNameLabel, .lastNameText {
    display: block;
    color: white;
    font-size: larger;
    text-shadow: 1px 1px black;
}

.emailLabel, .emailText {
    display: block;
    color: white;
    font-size: larger;
    text-shadow: 1px 1px black;
}

.firstQuestionLabel, .firstQuestionText {
    display: block;
    color: white;
    font-size: larger;
    text-shadow: 1px 1px black;
}

.secondQuestionLabel, .secondQuestionText {
    display: block;
    color: white;
    font-size: larger;
    text-shadow: 1px 1px black;
}

.submitButton {
    display: block;
    width: 125px;
    border: 1px solid grey;
    background-color: white;
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.submitButton:hover {
    background-color: lightgray;
}

.forgot{
    display: block;
    margin-bottom: 10px;
}

.fbPic {

}

.fbPic:hover, .ggPic:hover {
    filter: grayscale(1);
}

.ggPic {
}