.mainContent{
    background-color: lightgray;
    border: 2px black solid;
    margin-left: 20px;
    margin-right: 150px;
    margin-top: 20px;
    padding-bottom: 40%;
    text-align: center;
}

.anmt-preview {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid white;
}

.anmt-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
 }

.anmt-preview h2 {
    font-size: 20px;
    color: blue;
    margin-bottom: 8px;
}

.newAnnouncement {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
}

h1 {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
}

input, textarea {
    width: 50%;
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
    display: block;
}

