.loginLabel {
  text-shadow: 2px 2px black;
}

.logo {
  margin: 10px;
}

.NavLinksContainer {
  border: 2px solid black;
  background-color: darkslategrey;
  color: black;
  list-style-type: none;
  padding: 3px;
  float: right;
}

.headerLinks {
  color: white;
  list-style-type: none;
}

body {
  background-color: deepskyblue;
}

p{
  text-align: center;
}